runtime/models/*.gguf filter=lfs diff=lfs merge=lfs -text
runtime/checkpoints/**/*.pt filter=lfs diff=lfs merge=lfs -text
runtime/**/*.bin filter=lfs diff=lfs merge=lfs -text
runtime/**/*.so filter=lfs diff=lfs merge=lfs -text
runtime/**/bin/* filter=lfs diff=lfs merge=lfs -text
